<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API House</title>

    <link href="/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

</head>
<body>

    <h1>Hello from API HOUSE</h1>

    <p>Nostrud ad non reprehenderit ex in excepteur laborum consequat consectetur. Consequat in sint aute enim aliquip minim officia deserunt ipsum laboris commodo labore officia. In culpa anim aute eiusmod nulla amet est ad sit aliqua occaecat laboris. Nostrud dolore esse cupidatat ad excepteur aute. Irure velit excepteur cupidatat aute dolore cupidatat minim. Quis reprehenderit ullamco proident aute commodo consectetur eiusmod minim ad.</p>

    <h3>Blog Details</h3>
    <form action="/get/data" method="POST">
        <input type="text" name="title" placeholder="Enter title">
        <input type="text" name="author" placeholder="Enter ">
        <button type="submit">Send</button>
    </form>
    
    
</body>
</html>