body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    color: steelblue;
    font-size: 2.5em;
}

p {
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    margin: 10px;
}